@value makerMint from "../../common/colors.css";
@value makerWhite from "../../common/colors.css";
.header {
  background-color: makerMint;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
.title {
  font-size: 1.2rem;
  color: makerWhite;
  font-family: "Pangolin", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
.icon {
  width: 30px;
  height: 25px;
  margin-right: 5px;
}
