@value makerPink from "../../common/colors.css";
@value makerBorderGrey from "../../common/colors.css";

.home {
  width: 480px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.loginBox {
  display: flex;
  height: 450px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
.title {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 10px 0px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 10px 25px;
}
.input {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  margin: 5px 0px;
  width: 250px;
  height: 30px;
  border: 0.5px solid makerBorderGrey;
  border-radius: 5px;
  padding: 5px 5px;
  font-weight: 700;
}
.loginButton {
  border: none;
  background-color: makerPink;
  margin: 5px 0px;
  padding: 7px 0px;
  border-radius: 5px;
}
.button {
  width: 250px;
  font-weight: 600;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
.button:hover {
  opacity: 0.9;
  transform: scale(0.99);
  cursor: pointer;
}
.textBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0px;
}
.join {
  font-weight: 800;
  font-size: 0.8rem;
  cursor: pointer;
}
.forgot {
  font-weight: 800;
  font-size: 0.7rem;
  color: grey;
  cursor: pointer;
}
.lineBox {
  width: 300px;
  display: flex;
  align-items: center;
  margin: 30px 0px;
}
.or {
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
  margin: 0px 10px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
.line {
  background-color: makerBorderGrey;
  height: 0.5px;
  width: 100%;
  border: none;
}
.socialLogin {
  /* width: 300px; */
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.socialIcon {
  margin-right: 5px;
  font-size: 1rem;
}
.github {
  background-color: black;
  color: white;
}
.google {
  background-color: #e57373;
  color: white;
}

/* tablet(768~1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .home {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .loginBox {
    flex-basis: 100%;
    justify-content: center;
  }
  .title {
    font-size: 1.5rem;
    margin: 20px 0px;
  }
  .input {
    width: 300px;
    height: 40px;
  }
  .button {
    width: 300px;
    height: 50px;
    font-size: 1.1rem;
    padding: 10px 0px;
  }
  .lineBox {
    width: 350px;
    margin: 40px 0px;
  }
}
/* mobile(~768px) */
@media (max-width: 768px) {
  .home {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .loginBox {
    flex-basis: 100%;
    justify-content: center;
  }
  .title {
    font-size: 1.5rem;
    margin: 20px 0px;
  }
  .input {
    width: 300px;
    height: 40px;
  }
  .button {
    width: 300px;
    height: 50px;
    font-size: 1.1rem;
    padding: 10px 0px;
  }
  .lineBox {
    width: 350px;
    margin: 40px 0px;
  }
}
